<input type="text" id="searchInput" placeholder="Buscar pelicula..." />

<script>
  const input = document.getElementById("searchInput");
  const container = document.getElementById("movies");

  async function fetchMovies(query) {
    if (query.length < 3) return;

    container.innerHTML = "";

for (let i = 0; i < 8; i++) {
  const skel = document.createElement("div");
  skel.classList.add("skeleton");
  container.appendChild(skel);
}

    const res = await fetch(`https://www.omdbapi.com/?apikey=2a3fe01f&s=${query}`);
    const data = await res.json();

    container.innerHTML = "";

    if (data.Response === "False") {
      container.innerHTML = "<p>No hay resultados</p>";
      return;
    }

    data.Search.forEach(movie => {
      const div = document.createElement("div");
      div.classList.add("card");

      div.innerHTML = `
        <img src="${movie.Poster}" />
        <h3>${movie.Title}</h3>
      `;

      div.onclick = () => {
        window.location.href = `/movie/${movie.imdbID}`;
      };

      const favBtn = document.createElement("div");
      favBtn.classList.add("fav");

      let favs = JSON.parse(localStorage.getItem("favs")) || [];
      const isFav = favs.some(f => f.imdbID === movie.imdbID);

      favBtn.innerHTML = isFav ? "&#10084;" : "&#9825;";

      favBtn.onclick = (e) => {
        e.stopPropagation();

        let favs = JSON.parse(localStorage.getItem("favs")) || [];
        const exists = favs.find(f => f.imdbID === movie.imdbID);

        if (exists) {
          favs = favs.filter(f => f.imdbID !== movie.imdbID);
          favBtn.innerHTML = "&#9825;";
          favBtn.classList.remove("active");
        } else {
          favs.push(movie);
          favBtn.innerHTML = "&#10084;";
          favBtn.classList.add("active");

          // quitar animación después
          setTimeout(() => {
            favBtn.classList.remove("active");
          }, 300);
        }

        localStorage.setItem("favs", JSON.stringify(favs));
      };

      div.appendChild(favBtn);
      container.appendChild(div);
    });
  }

  input.addEventListener("input", () => {
    fetchMovies(input.value);
  });
</script>