---
import "../styles/global.css";
import SearchBar from "../components/SearchBar.astro";
---

<html>
  <body>
    <div class="container">

      <div class="header">
        <h1>&#127916; Movie Catalog</h1>

        <div>
          <button id="themeBtn">&#9790;</button>
          <button onclick="showFavs()">&#10084;</button>
        </div>
      </div>

      <SearchBar />

      <div id="movies" class="grid"></div>

    </div>

    <script>
      // DARK MODE
      const btn = document.getElementById("themeBtn");

      btn.onclick = () => {
        document.body.classList.toggle("light");
      };

      // MOSTRAR FAVORITOS
      window.showFavs = () => {
        const container = document.getElementById("movies");
        const favs = JSON.parse(localStorage.getItem("favs")) || [];

        container.innerHTML = "";

        if (favs.length === 0) {
          container.innerHTML = "<p>No hay favoritos</p>";
          return;
        }

        favs.forEach(movie => {
          const div = document.createElement("div");
          div.classList.add("card");

          div.innerHTML = `
            <img src="${movie.Poster}" />
            <h3>${movie.Title}</h3>
          `;

          div.onclick = () => {
            window.location.href = `/movie/${movie.imdbID}`;
          };

          container.appendChild(div);
        });
      };
    </script>
  </body>
</html>