---
import "../styles/global.css";
import SearchBar from "../components/SearchBar.astro";
---

<html>
  <head>
    <title>Movie Catalog</title>
  </head>
  <body>
    <div class="container">
      <h1>🎬 Movie Catalog</h1>

      <SearchBar />

      <div id="movies" class="grid"></div>

      <div style="text-align:center;">
        <button onclick="prevPage()">⬅️ Anterior</button>
        <button onclick="nextPage()">Siguiente ➡️</button>
      </div>
    </div>
  </body>
</html>