:root {
  --bg: #0b0b0b;
  --card: #181818;
  --text: #ffffff;
  --accent: #e50914;
}

/* MODO CLARO */
body.light {
  --bg: #f5f5f5;
  --card: #ffffff;
  --text: #111;
  --accent: #e50914;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: black;
}

body.light .header {
  background: #ddd;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--accent);
}

/* HERO */
.hero {
  height: 250px;
  background: linear-gradient(to right, black, transparent),
              url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4");
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 20px;
}

/* BUSCADOR */
input {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin: 20px 0;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* CARD */
.card {
  background: var(--card);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.card:hover {
  transform: scale(1.08);
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

/* FAVORITO */
.fav {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0,0,0,0.7);
  border-radius: 50%;
  padding: 5px;
  font-size: 16px;
}

/* BOTONES */
button {
  background: var(--accent);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

/* LOADER */
.loader {
  text-align: center;
}